.h1 {
  font-size: 40px;
  color: rgb(251, 90, 90)
}

body {
  background-color: rgba(55, 29, 29, 0.106);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input {
  display: block;
  margin: 0 auto;
}
